---
import { basics } from "@cv";
import Mail from "@/icons/Mail.astro";
import Phone from "@/icons/Phone.astro";
import GitHub from "@/icons/GitHub.astro";
import Linkedin from "@/icons/Linkedin.astro";
import X from "@/icons/X.astro";
import Worldmap from "@/icons/Worldmap.astro";

const { name, label, image, location, profiles, email } = basics;
const { city, region } = location;
const SOCIAL_ICONS: Record<string, any> = {
	GitHub,
	Linkedin,
	X,
};
---

<section>
	<div class="container">
		<div class="info">
			<footer>
				<h1>{name}</h1>
				<h2>{label}</h2>
				<span>
					<Worldmap />
					{city}, {region}
				</span>
				{
					email && (
						<a
							href={"mailto:${email}"}
							title={
								"Send an email to ${name} at ${email}"
							}
							target="_blank"
							rel="noopener noreferrer"
						/>
					)
				},
				{
					profiles.map(
						({
							network,
							url,
							username,
						}) => {
							const Icon =
								SOCIAL_ICONS[
									network
								];

							return (
								<a
									href={
										url
									}
									title={
										"Visit ${username}'s profile in ${network}"
									}
									target="_blank"
									rel="noopener noreferrer"
								>
									<Icon />
								</a>
							);
						},
					)
				}
			</footer>
		</div>
		<figure>
			<img src={image} alt={name} />
		</figure>
	</div>
</section>
<style>
	.container {
		display: flex;
		flex-direction: row;
	}
	.info {
		display: flex;
		flex-direction: column;
	}
</style>
